<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="assets/images/clubhouse.png">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Urban Life. Grab this Villas.</h1>
                <p class="mb-4">Nature isnt just Beautiful. Even in small does, it changes the way we feel.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Modern and Spacious Club House Catering to New age Needs
                </p>
                <p><i class="fa fa-check text-primary me-3"></i>Reception & Seating Lounge</p>
                <p><i class="fa fa-check text-primary me-3"></i>Yoga, Meditation & Aerobic Centre</p>


            </div>

        </div>
    </div>
</div>

<section id="gallery">
    <div class="container padding-medium ">
        <!-- <h3 class="display-5 text-center mb-5">View our gallary</h3> -->
        <div class="row">

            <div class="col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <!-- <h1 class="mb-4">Urban Life. Grab this Villas.</h1>
                <p class="mb-4">Nature isnt just Beautiful. Even in small does, it changes the way we feel.</p> -->
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th><i class="bi bi-building"></i>&nbsp;&nbsp;Plot Area</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3755 sft</td>
                        </tr>
                    </tbody>
                </table>
</div>
                <div class="col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <!-- <h1 class="mb-4">Urban Life. Grab this Villas.</h1>
                    <p class="mb-4">Nature isnt just Beautiful. Even in small does, it changes the way we feel.</p> -->
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th><i class="bi bi-hospital"></i>&nbsp;&nbsp;Configuration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>4 Bedrooms , 4 Bathrooms, 2 Balconies with Pooja Room,Others</td>
                            </tr>
                        </tbody>
                    </table>
                
            </div>
            <div class="col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <!-- <h1 class="mb-4">Urban Life. Grab this Villas.</h1>
                <p class="mb-4">Nature isnt just Beautiful. Even in small does, it changes the way we feel.</p> -->
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th><i class="bi bi-tag"></i>&nbsp;&nbsp;Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>₹ 2.2 Crore+ Govt Charges & Tax
                                @ 7,982 per sq.ft. (Negotiable)</td>
                        </tr>
                    </tbody>
                </table>
</div>
                <div class="col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <!-- <h1 class="mb-4">Urban Life. Grab this Villas.</h1>
                    <p class="mb-4">Nature isnt just Beautiful. Even in small does, it changes the way we feel.</p> -->
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th><i class="bi bi-building"></i>&nbsp;&nbsp;Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hyderabad</td>
                            </tr>
                        </tbody>
                    </table>
                
            </div>
        </div>
    </div>

</section>
<!-- About End -->
<section id="gallery">
    <div class="container padding-medium ">
        <h3 class="display-5 text-center mb-5">Tour of our <span class="gallary">Villa</span></h3>
        <div class="row">
            <div class="col-md-3 mb-4">
                <a title="Floorer" class="image-link"><img src="assets/images/gallery1.png"
                        class=" post-image img-fluid rounded-2"></a>
            </div>
            <div class="col-md-3 mb-4">
                <a title="Floorer" class="image-link"><img src="assets/images/gallery2.png"
                        class=" post-image img-fluid rounded-2"></a>
            </div>
            <div class="col-md-3 mb-4">
                <a title="Floorer" class="image-link"><img src="assets/images/gallery3.png"
                        class=" post-image img-fluid rounded-2"></a>
            </div>
            <div class="col-md-3 mb-4">
                <a title="Floorer" class="image-link"><img src="assets/images/gallery4.png"
                        class=" post-image img-fluid rounded-2"></a>
            </div>
            <div class="col-md-3 mb-4">
                <a class="image-link"><img src="assets/images/gallery5.png" class=" post-image img-fluid rounded-2"></a>
            </div>
            <div class="col-md-3 mb-4">
                <a class="image-link"><img src="assets/images/gallery6.png" class=" post-image img-fluid rounded-2"></a>
            </div>
            <div class="col-md-3 mb-4">
                <a class="image-link"><img src="assets/images/gallery7.png" class=" post-image img-fluid rounded-2"></a>
            </div>
            <div class="col-md-3 mb-4">
                <a class="image-link"><img src="assets/images/gallery8.png" class=" post-image img-fluid rounded-2"></a>
            </div>
        </div>
        <!-- <div class="text-center">
        <a class="btn btn-primary mt-3" href="gallery.html">View Gallery</a>
      </div> -->
    </div>
</section>
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="assets/images/home1.png">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Club house and Amenities</h1>
                <p><i class="fa fa-check text-primary me-3"></i>Modern and Spacious Club House Catering to New age Needs
                </p>
                <p><i class="fa fa-check text-primary me-3"></i>Reception & Seating Lounge</p>
                <p><i class="fa fa-check text-primary me-3"></i>MultiFunctional Party Hall</p>
                <p><i class="fa fa-check text-primary me-3"></i>Open Party Lawn with BBQ Station</p>
                <p><i class="fa fa-check text-primary me-3"></i>Fully Equipped A/C Gym</p>
                <p><i class="fa fa-check text-primary me-3"></i> Yoga, Meditation & Aerobic Centre</p>
                <p><i class="fa fa-check text-primary me-3"></i>Swimming Pool & Kids Pool</p>
                <p><i class="fa fa-check text-primary me-3"></i>Indoor Games & Club Games</p>
                <p><i class="fa fa-check text-primary me-3"></i>Open Air - Amphi Theatre</p>
                <p><i class="fa fa-check text-primary me-3"></i> PoolSide Seating Spaces & Viewing Gallery</p>
                <p><i class="fa fa-check text-primary me-3"></i>100% Wifi Enabled Hot-Spots</p>
                <p><i class="fa fa-check text-primary me-3"></i>2 Air Conditioned Guest Houses</p>
                <p><i class="fa fa-check text-primary me-3"></i>Office & Adminstration Rooms</p>
            </div>
        </div>
    </div>
</div>

<!-- Property List Start -->
<!-- <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Property Listing</h1>
                    <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit diam justo sed rebum.</p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1">Featured</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">For Sell</a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-3">For Rent</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-1.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Appartment</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-2.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Villa</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-3.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Office</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-4.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Building</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-5.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Home</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-6.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Shop</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane fade show p-0">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-1.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Appartment</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-2.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Villa</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-3.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Office</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-4.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Building</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-5.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Home</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-6.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Shop</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane fade show p-0">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-1.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Appartment</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-2.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Villa</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-3.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Office</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-4.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Building</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-5.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sell</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Home</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="img/property-6.jpg" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Rent</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Shop</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">$12,345</h5>
                                <a class="d-block h5 mb-2" href="">Golden Urban House For Sell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>123 Street, New York, USA</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>1000 Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Property List End -->
<!-- Call to Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                        <div class="mb-4">
                            <h1 class="mb-3 text-center">Location</h1>

                        </div>

                    </div>
                    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded w-100" src="assets/images/roadplan.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                        <div class="mb-4">
                            <h1 class="mb-3 text-center">Master Plan</h1>

                        </div>

                    </div>
                    <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded w-100" src="assets/images/masterplan.png">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->

<div class="tabs">
    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">
    <input type="radio" id="tab4" name="tab-control">
    <ul>
        <li title="Tab 1"><label for="tab1" role="button"><span>East-Ground floor</span></label></li>
        <li title="Tab 2"><label for="tab2" role="button"><span>East-First floor</span></label></li>
        <li title="Tab 3"><label for="tab3" role="button"><span>West-Ground floor</span></label></li>
        <li title="Tab 4"><label for="tab4" role="button"><span>West-First floor</span></label></li>
    </ul>
    <div class="content">
        <section>
            <h2>East Facing Villa - Ground Floor</h2>
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td scope="col">Total Plot Area</td>
                                    <td scope="col">300 Syds</td>
                                </tr>
                                <tr>
                                    <td scope="col">Ground Floor Area</td>
                                    <td scope="col">1708 sft</td>
                                </tr>
                                <tr>
                                    <td scope="col">First Floor Area</td>
                                    <td scope="col">1708 sft</td>
                                </tr>
                                <tr>
                                    <td scope="col">Total Area</td>
                                    <td scope="col">3755 sft</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <div>
                            <img class="img-fluid w-100" src="assets/images/east-g.png">
                                <!-- style="height:500px; width:700px"> -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <h2>East Facing Villa - First Floor</h2>
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td scope="col">Total Plot Area</td>
                                    <td scope="col">300 Syds</td>
                                </tr>
                                <tr>
                                    <td scope="col">Ground Floor Area</td>
                                    <td scope="col">1708 sft</td>
                                </tr>
                                <tr>
                                    <td scope="col">First Floor Area</td>
                                    <td scope="col">1708 sft</td>
                                </tr>
                                <tr>
                                    <td scope="col">Total Area</td>
                                    <td scope="col">3755 sft</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <div>
                            <img class="img-fluid w-100" src="assets/images/east-f.png">
                                <!-- style="height:500px; width:700px"> -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <h2>West Facing Villa - Ground Floor</h2>
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td scope="col">Total Plot Area</td>
                                    <td scope="col">300 Syds</td>
                                </tr>
                                <tr>
                                    <td scope="col">Ground Floor Area</td>
                                    <td scope="col">1709 sft</td>
                                </tr>
                                <tr>
                                    <td scope="col">First Floor Area</td>
                                    <td scope="col">1708 sft</td>
                                </tr>
                                <tr>
                                    <td scope="col">Total Area</td>
                                    <td scope="col">3788 sft</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <div>
                            <img class="img-fluid w-100" src="assets/images/west-g.png">
                                <!-- style="height:500px; width:700px"> -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>

            <h2>West Facing Villa - First Floor</h2>
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td scope="col">Total Plot Area</td>
                                    <td scope="col">300 Syds</td>
                                </tr>
                                <tr>
                                    <td scope="col">Ground Floor Area</td>
                                    <td scope="col">1709 sft</td>
                                </tr>
                                <tr>
                                    <td scope="col">First Floor Area</td>
                                    <td scope="col">1708 sft</td>
                                </tr>
                                <tr>
                                    <td scope="col">Total Area</td>
                                    <td scope="col">3788 sft</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <div>
                            <img class="img-fluid w-100" src="assets/images/west-f.png">
                                <!-- style="height:500px; width:700px"> -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
<div id="feature-area" class="feature-area section">
<div class="container">
    <div class="row">

        <div class="feature-wrapper section-padding-sm col-lg-6 col-12">

            <div class="section-title light">
                <h2 class="title">SPECIFICATIONS</h2>
                <!-- <p class="desc">Anything embarrassing hide in the middle of text. All the Lorem Ipsum
                    generators on</p> -->
            </div>

            <div class="row mb-n50">

                <div class="single-feature col-md-6 col-lg-6 col-sm-12  mb-50">
                    <img src="assets/images/1.jpg" alt="">
                    <h4>STRUCTURE</h4>
                    <p>Reinforced Cement Concrete framed structure to withstand Wind & Seismic loads</p>
                </div>

                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <img src="assets/images/2.jpg" alt="">
                    <h4>SUPER STRUCTURE</h4>
                    <p>Solid/ AAC Blocks, External Walls 8 Inch, Corridors & Ducts 6 Ft and Internal Walls 4 Inch</p>
                </div>

                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <!-- <img src="assets/images/3.png" alt=""> -->
                    <i style = "color:#fff;  font-size:20px"class="fa-solid fa-sheet-plastic"></i>
                    <h4>PLASTERING</h4>
                    <p>Internal & External : 2 Coats of Cement Plastering with Sponge Finish</p>
                </div>

                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <i style = "color:#fff; font-size:20px" class="bi bi-bricks"></i>
                    <h4>WALL FINISHES</h4>
                    <p>Internal : Treated with Putty/ Lappam and Painted with Emulsion Paints of Asian or Equivalent make<br><br>

                        External : Painted with Weather Proof Paints of Asian or Equivalent make. Elevation as per Architectural Design.</p>
                </div>
                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <!-- <img src="assets/images/4.png" alt=""> -->
                    <i style = "color:#fff; font-size:20px"  class="fa-solid fa-snowflake"></i>
                    <h4>FLOORING</h4>
                    <p>Living, Drawing & Dining Areas : 600*600 mm Vitrified Tiles of reputed make<br><br>

                        Bed Rooms & Kitchen Area: 600*600 mm Vitrified Tiles of reputed make<br><br>
                        
                        Sit Outs/ Balcony : Anti-Skid Ceramic Matte Finished Tiles<br><br>
                        
                        Toilets : Anti-skid, Acid Resistant Tiles Corridors & Stair : Polished Natural Stone</p>
                </div>
                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">                   
                    <i style = "color:#fff; font-size:20px"  class="fa-solid fa-kitchen-set"></i>
                    <h4>KITCHEN</h4>
                    <p>Granite Platform with SS Sink. Separate Taps for Municipal and Bore Well. Glazed Ceramic Tile dado up to 2’-0” Height above the Platform.<br><br> Power Points provision for Cooking Range (2 nos. Of 16 Amps), Water Purifier, Exhaust Fan/ Chimney</p>
                </div>
                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <i style = "color:#fff; font-size:20px" class="fa-solid fa-toilet"></i>
                    <h4>TOILETS</h4>
                    <p>Tile Dado: Glazed Ceramic Tile dado upto 7 Ft Height of Reputed make<br><br>

                        Sanitary Ware: Western Style Water Closet with Health Faucet. Wash Basin in all Toilets of Hindware/ Parryware or Equivalent make<br><br>
                        
                        CP Fittings: Wall Mixture with Overhead Shower and other Taps of Jaguar/ Cera or Equivalent make. Provision for Geyser and Exhaust Fan Fitting in all Bathrooms</p>
                </div>
                
                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <!-- <img src="assets/images/4.png" alt=""> -->
                    <i  style="color:#fff; font-size:20px" class="fa-solid fa-bath"></i>
                    <h4>UTILITY & WASH AREA</h4>
                    <p>Glazed Ceramic Tiles up to 3 Ft height. Flooring with Anti-Skid Acid Resistant Tiles. Provision for Washing Machine.</p>
                </div>
                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <!-- <img src="assets/images/4.png" alt=""> -->
                    <i style="color:#fff; font-size:20px" class="fa-solid fa-door-open"></i>
                    <h4>JOINERY WORKS</h4>
                    <p>Main Door : Teak Wood Frame & Aesthetically Designed Teak Veneered Shutter and Finished with Melamine Polish Fitted with Reputed make hardware<br><br>

                        Internal Door : Teak Wood Frame, Flush Doors with Teak Veneer and Polish/ Designed Skin Doors of Reputed make<br><br>
                        
                        Windows and French Door : UPVC Window System of Reputed make with Float Glass, Provision for Mosquito Net Track and MS Fabricated Safety Grills. UPVC French Door with Float Glass Paneled Sliding Shutters</p>
                </div>
                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <!-- <img src="assets/images/2.jpg" alt=""> -->
                    <i  style="color:#fff; font-size:20px" class="fa-solid fa-tv"></i>
                    <h4>ELECTRICAL</h4>
                    <p>3 Phase Power Supply with MCB’s of Reputed make. Concealed Copper Wiring (in Conduits) of Finolex/ Polycab/ Havells or Equivalent make. Modular Switches of Anchor/ Legrand/ Crabtree or Equivalent make. Power Outlets for Air Conditioners in Living & Bedrooms with Conduits. Power Points for Geysers and Exhaust Fans in all Bath Rooms</p>
                </div>
                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <!-- <img src="assets/images/4.png" alt=""> -->
                    <i style="color:#fff; font-size:20px" class="fa-solid fa-house-signal"></i>
                    <h4>TELECOM & INTERNET</h4>
                    <p>T.V. Points in Living, Dinning & Master Bed Room. Intercom Facility for each Flat. Telephone Point in Living Room & Master Bed Room. Provision for Internet Connection in each Flat</p>
                </div>
                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <!-- <img src="assets/images/4.png" alt=""> -->
                    <!-- <h4>WATER SUPPLY</h4> -->
                    <i style="color:#fff; font-size:20px" class="fa-solid fa-arrow-up-from-water-pump"></i>
                    <p>Underground Storage Sumps with Pumping System and Overhead Tanks for both Municipal and Bore Well Water. Rain Water Harvesting Pits for Natural Recharge of Ground Water</p>
                </div>
                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <!-- <img src="assets/images/4.png" alt=""> -->
                    <i  style="color:#fff; font-size:20px"class="fa-solid fa-stairs"></i>
                    <!-- <i class="bi bi-building-up"></i> -->
                    <h4>LIFTS</h4>
                    <p>Sufficient Number of Lifts for Passengers & Goods with V3F Drive as per Approved Plan of Johnson/ Kone or Equivalent make.</p>
                </div>
                <div class="single-feature col-md-6 col-lg-6 col-sm-12 mb-50">
                    <!-- <img src="assets/images/4.png" alt=""> -->
                    <i style="color:#fff; font-size:20px" class="fa-solid fa-jar-wheat"></i>
                    <h4>BACKUP GENERATOR</h4>
                    <p>100% Power Backup</p>
                </div>
            </div>

        </div>

    </div>
</div>
</div>
<app-scroll-top></app-scroll-top>